{% extends 'blog/base.html' %}

{% load blog_extras %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/styles/atom-one-light.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/languages/go.min.js"></script>

<script>hljs.highlightAll();</script>
    <div class="box">
        <section class="hero is-primary is-medium">
            <div class="hero-body">
                <p class="title">{{ post.title }}</p>
                <p class="subtitle">{{ post.created_at|date:"Y-m-d H:i" }}</p>
            </div>
        </section>

        <div class="content intro">
            <p>{{ post.intro }}</p>
        </div>

        <div class="content">
            {{ post.body|convert_markdown|safe }}
        </div>
    </div>
{% endblock %}